.App {
    padding: 1rem;
}

.App-header {
    background-color: #282c34;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
    font-size: calc(10px + 2vmin);
    margin-bottom: 1rem;
}

.masonry {
    column-count: 4;
    column-gap: 1em;
}

.image-item {
    position: relative;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.image-item:hover {
    transform: scale(1.1);
    z-index: 1;
}

.image-item img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    position: relative;
}

.image-item-info {
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: #000;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    transition: all 0.5s ease;
    opacity: 0;
    z-index: 2;
}

.image-item-info button {
    background: transparent;
    color: #ff4081;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.image-item:hover .image-item-info {
    opacity: 1;
}

/* Previous CSS */

.image-item.selected {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.image-item.selected img {
    width: auto;
    height: 80%;
}

.close-button {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 24px;
    background: transparent;
    border: none;
    z-index: 11;
}

.expandedImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    transition: all 0.5s ease;
  }
  
.expandedImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40%;
  }

.expandedImage img {
    width: 100%;
    height: auto;
  }

.expandedImage .image-item-info {
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: #fff;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    transition: all 0.5s ease;
    opacity: 1;
    z-index: 2;
  }


.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    gap: 10px;
}


.login-form input,
.login-form button,
.logout-button {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    padding: 0 20px;
    margin: 5px 0;
}

.login-form button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #45a049;
}

.logout-button {
    position: absolute;
    right: 30px;
    top: 60px;
    background-color: #f44336;
    color: white;
    cursor: pointer;
    width: 150px;
}

.logout-button:hover {
    background-color: #da190b;
}

.user-info {
    position: absolute;
    right: 100px;
    top: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.heart {
    position: absolute;
    font-size: 8em;
    color: red;
    opacity: 0;
    animation: fade-out 1s forwards;
    z-index: 1;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
